# Deps
node_modules/
npm-debug.log*

# Build
dist/
dist-electron/
build/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.zip
*.log
